
<div class="container-fluid">
	<div class="row">
		<div style="background: #888888; z-index: 20; border-radius: 2%; border:1px solid white">
			
			<span>
				<img class="img-thumbnail img-responsive" width="30" height="30" style="border: 1px solid white" src="http://jonohunt.design/work/bartender-icon.png">
			</span>

		</div>
	</div>
</div>