<div class="col-sm-12 col-md-12 col-lg-12">
	<div class="container-fluid grad" id="postContainer">

		<div class="row">

			<div class="col-sm-8 col-md-8 col-lg-8 text-left era-post-row-header">
		
				<h4><span>
					<img src="https://i1.sndcdn.com/avatars-000227553590-jtvvor-t500x500.jpg" class="img-rounded" width="15%" height="15%">
						Oren Miara <%= counter %>
						<small>shared a thought</small>
					</span>

				</h4>

				
			</div>

			<div class="col-sm-4 col-md-4 col-lg-4 text-right">
				<h6>
					<span>
						<i class="fa fa-clock-o" aria-hidden="true"></i>
					</span>
					<small>
						at Thursday 23 November 2049 15:30
					</small>

			
				</h6>
			<i class="fa fa-ellipsis-h fa-2x era-label" aria-hidden="true"></i>
			</div>
	
		</div>

		<hr>

		<div class="row" id="era-post-row-main">
			<div class="col-sm-1 col-md-1 col-lg-1">
				<div class="row">
					<i class="fa fa-tag era-icon" aria-hidden="true"></i>
				</div>
				<div class="row">
					<i class="fa fa-tag era-icon" aria-hidden="true"></i>
				</div>
				
			</div>

			<div class="col-sm-11 col-md-11 col-lg-11">
				<div class="container-fluid era-border-left" id="era-para-shadow">
					<p>
						The habitual description of the Latin American take on investment arbitration as one of hostility fails to capture the complexity and fine nuances of the relationship between Latin America and the investor-state dispute resolution mechanism. The article reconsiders the notion of hostility by canvassing the historical context of Latin American investment arbitration, and evaluating some particular topics that have surged in recent years. These include the particularities of compliance and enforcement in relation to awards delivered against Argentina and Ecuador, negotiations on the creation of a regional arbitration center under the aegis of UNASUR, and considerations of the public interest in arbitrations involving Latin American states. In exploring these topics, the article argues that there is no single Latin American approach to investment arbitration and that, overall, the region’s perception of dispute settlement should not be considered as particularly hostile to it.
		     		</p>
	     		</div>
			</div>

		</div>
		<hr>
		<!-- Bottom Row - functionality : likes, comment, etc -->

		<div class="row align-items-center">
			<div class="col-sm-1">
				<i class="fa fa-paper-plane fa-1x era-comment" aria-hidden="true"></i>
			</div>

			<div class="col-sm-9">
				<textarea onfocus="assignVisual(<%= counter %>)" id="<%= counter %>" name="comment" form="commentForm" placeholder="Write a comment"></textarea>
			</div>

			<div class="col-sm-1">
				<i class="fa fa-thumbs-up era-icon" aria-hidden="true"></i>
			</div>
			<div class="col-sm-1">
				<i class="fa fa-heart-o era-icon" aria-hidden="true"></i>
			</div>
			
		</div>

	</div>

</div>