<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="../css/Welcome.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400i|Quicksand:500" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../js/postHandler.js"></script>	

	<title>
		Era - Home
	</title>

</head>

<body>
	<div class="container-fluid">
	<div class="jumbotron">
  		<h1>Welcome to Era</h1>
  		<h2><small>new way to social media</small></h2> 

  		
		<li><a href="/register">Sign Up!</a></li>
		<li><a href="/login">Login!</a></li>
		<li><a href="/logout">Logout!</a></li>

	</div>
	</div>

</body>

</html>